table{
   width: 50%;
   height: 50%; 
   border-radius: 2vh;
}
table,th,td {
    border : 1px solid rgb(197, 45, 134);
    border-radius: 2vh;
    text-align: center;
    margin: 10% 4%;
}
  
.main
{
    margin-top: 25vh;
    margin-left: 25vw;
    width: 30vw;
    height: 25vh;;
    text-align: right;
    
}

input{
    border-radius: 10vh;
    margin:1%;
    margin-bottom:5%;
}

button{
    color: #fff;
    background: rgb(196, 6, 155);
    padding: 2% 3%;
    margin-right: 2%;
    border-style: none;
    border-radius: 10vh;
} 
button:hover { 
    background: rgb(224, 167, 212);
} 
button:active { 
    background: rgb(84, 64, 155); 
} 