body{
    background-color: gainsboro;
}

.main_div{
    display: flex;
    flex-wrap: wrap;
}

.div12345678, .div9, .div10{
    width: 19.8%;
    height: 49%;
    margin: 1px 1px 1px 1px;
    background-color: white;
    text-align: center;
}
img{
    padding-top: 20%;
    width: 80%;
    height: 50%;
    align-self: center;
}
p{
    align-self: center;
}
.price{
    color: darkgrey;
}

@media (max-width: 1280px){
    .div12345678{
        width: 24.2%;
        height: 24.8%;
    }
    .div9, .div10{
        width: 48.8%;
        height: 49%;
    }
    img{
        padding-top: 10%;
        width: 80%;
        height: 60%;
    }
    p{
        font-size: 12px;
    }
}
